:root {
    --clr-primary: #f2faff;
    --clr-nuetral-100: #fff;
    --clr-nuetral-300: #f1ece3;
    --clr-nuetral-900: #212529;
    --clr-dark: #034873;
    --clr-accent: #f29f05;
    --ff-main: 'Poppins', sans-serif;
    --ff-footer: 'Mulish', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
button {
    margin: 0;
    font-family: var(--ff-main);
}

.bg--primary {
    background-color: var(--clr-primary);
}

.bg--nuetral {
    background-color: var(--clr-nuetral-100);
}

.bg--dark {
    background-color: var(--clr-dark);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 25px 70px;
    border-bottom: 1px solid #d2d4d6;
}

.left-side {
    display: flex;
}

.logo img {
    width: 8.2rem;
    margin: .8rem auto;
}

.left-border {
    border: 1px solid #dee1e4;
    margin-left: 1rem;
}

.post-task {
    margin: .5rem 1.5rem;
    padding: 7px 22px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--clr-nuetral-100);
    background-color: var(--clr-dark);
    border: none;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.form-links {
    margin-block: 1rem;
}

.form-links a {
    padding: 10px;
    text-decoration: none;
    color: var(--clr-nuetral-900);
    font-size: 1rem;
    font-weight: 500;
}

.menu {
    box-shadow: 0 2px 10px 5px #d2d4d6;
    display: none;
    position: absolute;
    top: 15%;
    right: 25%;
    background-color: var(--clr-nuetral-100);
    padding: 2rem 0rem 1rem;
    width: 45%;
}

.menu li {
    list-style: none;
    padding-block: .5rem;
    border-bottom: 1px solid #d2d4d6;
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: var(--clr-nuetral-900);
    font-weight: 600;
    padding-left: 1rem;
}

.menu-button {
    margin-inline: 1rem;
    padding-block: .5rem;
    display: flex;
    flex-direction: column;
}

.login {
    margin-bottom: 1rem;
    padding: .3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-dark);
}

.login a {
    text-decoration: none;
    font-weight: 900;
    color: var(--clr-nuetral-100);
}

.signup {
    padding: .3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-accent);
}

.signup a {
    color: #000;
    font-weight: 900;
    text-decoration: none;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 75rem);
}

img {
    display: block;
    max-width: 100%;
}

.hero-sec .container {
    padding-top: 4.5rem;
    padding-inline: 2rem;
}

.split {
    display: flex;
    justify-content: space-between;
}

.txt-animation {
    font-size: 2.3rem;
    letter-spacing: 2px;
    line-height: 1.2;
    color: var(--clr-nuetral-900);
}

.txt-animation span {
    color: var(--clr-accent);
}


/* .dynamic-txt h1 {
    overflow: hidden;
    border-right: .15em solid #f29f05;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #f29f05;
    }
} */

.container--narrow {
    max-width: 35rem;
}

.woman-carrying-bucket img {
    position: relative;
    width: 25rem;
    border-bottom-right-radius: 5em;
    border-top-left-radius: 5em;
    left: -20px;
    top: -28px;
}

.woman-carrying-bucket {
    margin-bottom: 5rem;
    border: 2px solid #f29f05;
    border-bottom-right-radius: 5em;
    border-top-left-radius: 5em;
    display: inline-block;
    vertical-align: top;
}

.herobutton {
    padding-block: 3rem;
}

.post-hero {
    position: relative;
    padding: 13px 30px;
    margin-right: 1.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--clr-nuetral-100);
    background-color: var(--clr-dark);
    border: none;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index: 1;
    animation: zoom 2s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(107%);
    }
}

.post-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #034873;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index: -1;
    animation: pulsing 2s infinite;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.25);
        opacity: 0;
    }
}

.post-hero:hover {
    animation: none;
    cursor: pointer;
}

.post-hero:hover::after {
    animation: none;
    cursor: pointer;
}

.browse-hero {
    font-weight: 600;
    color: var(--clr-nuetral-900);
    background-color: var(--clr-nuetral-300);
    border: 2px solid #f29f05;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 10px 25px;
    font-size: 0.95rem;
}

.browse-hero:hover {
    color: #fff;
    background-color: #f29f05;
}

.how-it-works_cont {
    padding-block: 3rem;
}

.header-center {
    font-size: 2rem;
    color: var(--clr-nuetral-900);
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
}

.how-it-works_cont .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.grid-card {
    display: flex;
    align-items: flex-start;
    height: auto;
    margin: 10px 10px 30px;
}

.story-mode {
    margin-left: calc(0.3125rem * 2);
    width: 220px
}

.img-flex img {
    width: 6rem;
    height: 6rem;
}

.number {
    align-items: center;
    background-color: var(--clr-dark);
    border-radius: 100%;
    color: var(--clr-nuetral-100);
    display: flex;
    font-size: 1.125rem;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}

.card-title h3 {
    color: #034873;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.3125rem;
}

.card-info p {
    color: #034873;
    font-size: 0.75rem;
    margin-top: -0.3125rem;
}

.about-us {
    padding-bottom: 4rem;
}

.about {
    border: 2px solid #f29f05;
    border-bottom-right-radius: 5em;
    border-top-left-radius: 5em;
    display: inline-block;
    vertical-align: top;
}

.about-split {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.about img {
    position: relative;
    width: 21rem;
    border-bottom-right-radius: 5em;
    border-top-left-radius: 5em;
    left: 20px;
    top: 20px;
}

.about-content {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

.about-content h1 {
    font-size: 34px;
    font-weight: 500;
    text-align: left;
}

.about-content p {
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}

.footer-cont .container {
    padding: 50px 0px;
}

.div-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.div-two {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.text--right {
    justify-self: right;
}

.indozi {
    color: #fff;
    width: 15rem;
}

.indozi h2 {
    font-size: 1.8rem;
    font-weight: 550;
    letter-spacing: 2px;
}

.indozi p {
    font-size: 0.8125rem;
    letter-spacing: 1.5px;
}

.join-us {
    width: 15rem;
    color: #fff
}

.join-us h3 {
    font-size: 18px;
}

.join-us p {
    font-size: 0.8125rem;
    word-spacing: 1px;
}

.ambassador {
    margin-top: 10px;
    font-size: 10px;
    color: #031f31;
    font-weight: 550;
    padding: 8px 10px;
    background: #f29f05;
    border: 2px solid #fff;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.contact-us {
    text-align: right;
    width: 15rem;
    color: #fff;
    line-height: 2rem;
}

.contact-us p {
    font-size: 0.8125rem;
}

.suggestion {
    text-align: right;
    color: #fff;
    width: 15rem;
}

.suggestion p {
    font-size: 0.8125rem;
}

.feedback {
    padding: 8px 25px;
    margin-top: 27px;
    font-size: 10px;
    font-weight: 550;
    color: #031f31;
    background: #fff;
    border: 2px solid #f29f05;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.copyright {
    align-items: center;
    background-color: #034873;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 140px;
    width: 100%;
}

.indozi-icon img {
    width: 1.2rem;
}

.copyright-statement p {
    color: #fff;
    font-size: 0.7125rem;
}

.font-space {
    text-align: right;
    color: #fff;
    font-size: 11px;
}

.font-space i {
    margin-left: 1.25rem;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 4px;
    background: var(--clr-dark);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--clr-dark);
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -8px;
    width: 15px;
}

.hamburger:after {
    top: 8px;
    width: 20px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 20px;
}

.navigation input:checked~.hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 20px;
}

.navigation input:checked~.menu {
    display: block;
}

@media screen and (min-width:300px) and (max-width: 992px) {
    .hamburger,
    .toggle-menu {
        margin-block: 1.5rem;
        display: block;
    }
    .logo img {
        width: 7rem;
    }
    .left-border {
        display: none;
    }
    .post-task {
        display: none;
    }
    .form-links {
        display: none;
    }
    .split {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .herobutton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .herobutton button {
        font-size: 1rem;
        padding: .8rem 0;
        margin-bottom: 1.5rem;
        width: 8rem;
    }
    .post-hero {
        margin-left: 2rem;
    }
    .txt-animation {
        font-size: 1.4rem;
        text-align: center;
        line-height: 2;
    }
    .woman-carrying-bucket img {
        top: -15px;
        left: -10px;
    }
    .how-it-works_cont .container {
        flex-direction: column;
    }
    .card-title h3 {
        font-size: 1.15rem;
    }
    .card-info p {
        font-size: .7rem;
    }
    .about-content {
        margin: 2rem;
        width: 35rem;
        text-align: center;
    }
    .about-content h1 {
        font-size: 2rem;
        text-align: center;
    }
    .about-content p {
        font-size: 1rem;
        text-align: center;
    }
    .div-one {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .indozi h2 {
        font-size: 1.25rem;
    }
    .div-one p {
        font-size: 0.7rem;
    }
    .div-one .indozi,
    .contact-us {
        margin-bottom: 1rem;
    }
    .contact-us {
        line-height: 1.5rem;
    }
    .contact-us h4 {
        font-size: 1rem;
    }
    .div-two {
        flex-direction: column;
        text-align: center;
    }
    .div-two p {
        font-size: 0.7rem;
    }
    .div-two h4 {
        font-size: 1rem;
    }
    .div-two .join-us,
    .suggestion {
        margin-bottom: 1rem;
    }
    .text--right {
        text-align: center;
    }
    .copyright {
        flex-direction: column;
        padding-inline: 10px;
    }
    .indozi-icon {
        padding-bottom: 1rem;
    }
    .indozi-icon img {
        width: 1rem;
    }
    .copyright-statement {
        padding-bottom: 1rem;
    }
    .copyright-statement p {
        font-size: .5rem;
    }
    .font-space i {
        margin-left: 2rem;
    }
}